<launch>
<arg  name  ="frequency" default = "1" />
<arg  name  ="record" default = "disable"/>
  
 <node

    name = "publisher"

    pkg = "beginner_tutorials"

    type = "talker"

    output = "screen" 
            
    args = "$(arg frequency)"
    

    

  />

 <node

    name = "subscriber"

    pkg = "beginner_tutorials"

    type = "listener"

    output = "screen"

    launch-prefix = "gnome-terminal -e"

   />

<node

    name = "rosbag"

    pkg = "rosbag"

    type = "record"

    args = "-a -O $(find beginner_tutorials)/results/recorded.bag"

    if = "$(eval record == 'enable')"

   />

</launch>
